<p class="mt-5 mb-3 text-muted tt_resto">&copy; Tac Tac Delivery</p>
        
<center>
    <table>
        <tr>
            <td>
                <a href="https://www.instagram.com/tac_tac_delivery/?fbclid=IwAR2nEmFWOUCYk39Gz749NK0CQZ7x8DpnpVo3a6nUjP4NN0BZ4eoh1vqmIkQ"><img src="src/sm/instagram.png" class="sm instagram"></a>
            </td>
            <td>
                <a href="https://www.facebook.com/profile.php?id=100082423931842"><img src="src/sm/facebook.jpg" class="sm fb"></a>
            </td>
        </tr>
    </table>
</center>