<div class="wrapper">
    <!-- <div class="comp_name">
        <h2>Tac Tac <strong>Delivery</strong></h2>
    </div> -->
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
    </label>
    <nav id="sidebar">
      <div class="title">Menu</div>
      <ul class="list-items">
        <li><a href="/resto"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="/cart"><i class="fa fa-shopping-cart"></i>Panier</a></li>
        <li><a href="/logout"><i class="fa fa-power-off"></i>Log out</a></li>
      </ul>
    </nav>
</div>